<main id="main" class="main">

    <div class="pagetitle">
      <h1>Selling List</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="/">Home</a></li>
          <li class="breadcrumb-item active">Selling List</li>
        </ol>
      </nav>
      <br>
      
    </div><!-- End Page Title -->


    <section class="section dashboard">
      <div class="row">
        <!-- Left side columns -->
        <div class="">
          <div class="row">
          <!-- Customers Card -->
            <div class="col-xxl-4 col-xl-12">
              <div class="card info-card customers-card">
              <div class="card-body">
                <div class="d-flex align-items-center">
                  <div class="category-boxes">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th>No</th>
                          <th>Id Selling</th>
                          <th>Nama Paket</th>
                          <th>Harga</th>
                          <th>Stock</th>
                          <th>Jumlah Stok</th>
                          <th>Warna</th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Add more rows as needed -->
                      </tbody>
                    </table>
                    
              </div>
            </div>
  </section>
  </main>