<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/data-customer">
        <i class="bi bi-people"></i>
        <span>Customer List</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/data-product">
        <i class="bi bi-archive"></i>
        <span>Product List</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../selling">
        <i class="bi bi-bag-check"></i>
        <span>Selling List</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="../inventory">
        <i class="bi bi-database"></i>
        <span>Inventory</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->
    <!-- End Icons Nav -->
  </ul>
</aside>
